*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
main {
    flex-grow: 1;
}
img {
    display: block;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.strategy, 
.team,
.portfolio {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}
.header .container {
    display: flex;
}
.header-nav {
display: flex;
align-items: center;

}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.heading-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}


.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
   
}
.logo-studio-footer {
    color: #f4f4fd;
}
.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
 
}
.logo-studio {
color: #2e2f42;

    
    
   
}
.navigation {
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.navigation-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    
 }
 .navigation .navigation-link:hover,
 .navigation .navigation-link:focus {
     color: #404bbf;
 }
 .address {
    display: block;
     font-style: normal;
     margin-left: auto;
    padding: 24px 0;
 }

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  .list-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .add {
    display: flex;
    gap: 40px;
 
  }
 .add-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
 }
 .add .add-list:hover,
 .add .add-list:focus {
    color: #404bbf;
 }
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    margin: 0 auto;
   
}

 
 .title {
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     color: #fff;
     margin: 0 auto;
     margin-bottom: 48px;
    max-width: 496px;
     
 }

 .button {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
     background-color: #4d5ae5;
     cursor: pointer;
    display: block;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
        
 }
 .button:hover,
 .button:focus {
    background-color: #404BBF;
 }
.items {
    width: 264px;
}
.subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin: 0auto;
}
 .text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .team {
    background-color: #f4f4fd;
    padding-top: 120px 0;
 }

 .team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
 }
.text-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.cards-team {
padding: 32px 0;

}
.text-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.cards-port {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
 

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    
   

    
}